/* CSS for main app dashboard */

/*#edit-fields {
    display: none;
}*/

/* Style the buttons */
.page-item {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Style the active class (and buttons on mouse-over) */
.page-item.active, .page-item:hover {
  background-color: #666;
  color: white;
}

.about-body.container {
  background: url(/static/images/goldengate.jpg) no-repeat center center;
  background-size: cover;
}











