{% extends 'base.html' %}
{% block content %}


<h1>About RunBuddy</h1>

<body>
<p>
Runbuddy began in February 2018 as the Hackbright Academy project designed Kirby Hutton.  Kirby is a former collegiate athlete and enjoys running in her spare time.  The thing is, Kirby's "spare time" is quite unpredictable.  Meet ups and running groups didn't fit her schedule most of the time.  On top of that, as a self-proclaimed introvert, Kirby didn't deem these events to be running motivation.</p>
<br>
<p>
Kirby was looking for something more.  She enjoyed the accountability that running with someone else provides but after moving to the suburbs found that she didn't have any running buddies close by.  From time to time she would pass other solo runners and think to herself, "<i>Why can't I run with that person?</i>" This is how Runbuddy came to be what it is today.</p>>  


</body>


{% endblock %}