{% extends 'base.html' %}
{% block content %}


<h1>About RunBuddy</h1>

<body>
<p>
Runbuddy began in February 2018 as the Hackbright Academy project designed by Kirby Hutton.  Kirby is a former collegiate athlete and enjoys running in her spare time.  That being said, the timing aspect of free time can be quite unpredictable.  Meet ups and running groups are highly scheduled by nature.  On top of that, as any introvert can attest, group events can be intimidating and not a conduciveto form of running motivation.</p>
<br>
<p>
RunBuddy provides something more.  Runbuddy was built for people who seek the accountability that running with someone else affords.  Not everyone has a close circle of running friends.  Runbuddy hopes to solve that problem by leveraging technology to create IRL connections. 

After moving to the suburbs Kirby found that she didn't have any running buddies close by.  Convenience being what it is, she found herself running less and less. From time to time she would pass other solo runners and think to herself, "<i>Why can't I run with that person?</i>" This is how Runbuddy came to be what it is today.</p>>  


</body>


{% endblock %}