<!doctype html>
<html>
<head>
  <title>RunBuddy</title>
      <!-- CSS STYLES -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<nav>  
<a href="http://127.0.0.1:5000/change_details">Change details</a> | 

<a href="http://127.0.0.1:5000/messages">View My Messages</a> |

<a href="http://127.0.0.1:5000/logout">Log Out</a> |

</nav>




  
  <ul>
  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>



  {% block content %} put your content here 



{% endblock %}
</body>
</html>