{% extends 'base.html' %}
{% block content %}

<head>
<style>
#bod{
	color:#484A47;
    background-color:white;
}
</style>
</head>
<h1 class="text-center">RunBuddy Careers</h1>

<body id="bod" class="text-center">

	<p class="container mt-3">

    	Do <b>YOU</b> want to work for Runbuddy?  
    </p>
    <p class="container mt -3">
    	Runbuddy is not currently hiring.<br>  In fact, Runbuddy is broke.  Actually, we are more than broke.  We are in debt. <br>  

	</p>

	<p class="container mt -3">
		Maybe you should hire <i>us</i>.  Just a thought.
	</p>	




</body>


{% endblock %}