{% extends 'base.html' %}
{% block content %}

<head>
<style>

body{
  background: url(/static/images/trailpoles.jpg) no-repeat center center;
  background-size: cover;
}

h1{	
	color:white;
}

p{	
	color:white;
}
</style>
</head>
<h1 class="text-left display-4 mb-5">RunBuddy Careers</h1>

<body id="bod" class="text-left ml-4">

	<p class="mt-5">

    	Do <b>YOU</b> want to work for Runbuddy?  
    </p>
    <p class="mt-5">
    	Runbuddy is not currently hiring.<br>In fact, Runbuddy is broke.<br>Actually, we are more than broke.<br>We are in debt.  

	</p>

	<p class="mt-5">
		Maybe you should hire <i><a href="https://www.linkedin.com/in/kirbyhutton">us.</a></i><br>Just a thought.
	</p>	




</body>


{% endblock %}