{% extends 'base.html' %}
{% block content %}

<h1>Runner Information</h1>

<br>
<b>These are the runners who fit your search criteria:</b>
<br><br><br>
 <div id="displayRunners">

 {% for user in user_list %}
 <form action="/user_info">

   <li>
        <a href="/user_info/{{user.user_id}}">{{ user.name }}</a><br>
        Name: {{ user.name }}<br>
        Pace: {{ user.pace }} <br><br>

     </li>

 {% endfor %}

 </form>
 </div>
 <br>
 <b>Click on a marker to view which runner it represents!</b>
<br>
<br>

<div id="mapdiv" style="height:500px"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script> 

<script>

    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat( {{my_long}} , {{my_lat}} ).transform(epsg4326, projectTo);


      
    var zoom=14;
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{my_long}} ,{{my_lat}}).transform(epsg4326, projectTo),
            {description:'This is your address, {{center_user.name}}!'} ,
            {externalGraphic: 'static/images/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

    {% for user in user_list %}

    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{user.lng}}, {{user.lat}}).transform(epsg4326, projectTo),
            {description:'<a href="/user_info/{{ user.user_id }}">{{ user.name }}</a>'} ,
            {externalGraphic: 'static/images/red-marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

    map.addLayer(vectorLayer);

    {% endfor %}

        //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })

    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();


</script>



{% endblock %}