{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Runner Information</h1>
<container>

<br>
  <div id="mapdiv" class="col-sm-7 ml-3 mr-3 text-center float-right" style="height:1000px; width: 1000px;">
    <b>Click on a marker to view which runner it represents!</b>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script> 
  </div>

    <script>

    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat( {{my_long}} , {{my_lat}} ).transform(epsg4326, projectTo);
    var zoom=12;
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
    
    // Define markers as "features" of the vector layer:
    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{my_long}} ,{{my_lat}}).transform(epsg4326, projectTo),
            {description:'This is your address, {{center_user.name}}!'} ,
            {externalGraphic: 'static/images/marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

    {% for user in user_list %}

    var feature = new OpenLayers.Feature.Vector(
            new OpenLayers.Geometry.Point( {{user.lng}}, {{user.lat}}).transform(epsg4326, projectTo),
            {description:'<a href="/user_info/{{ user.user_id }}">{{ user.name }}</a>'} ,
            {externalGraphic: 'static/images/red-marker.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25  }
        );    
    vectorLayer.addFeatures(feature);

    map.addLayer(vectorLayer);

    {% endfor %}

        //Add a selector control to the vectorLayer with popup functions
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })

    };

    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("pop",
          feature.geometry.getBounds().getCenterLonLat(),
          null,
          '<div class="markerContent">'+feature.attributes.description+'</div>',
          null,
          true,
          function() { controls['selector'].unselectAll(); }
      );
      //feature.popup.closeOnMove = true;
      map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();


</script>

  <div  class="text-center ml-3 col-sm-5">

  <b>These are the runners who fit your search criteria:</b>
  <br>
  
    {% for user in user_list %}
    <form action="/user_info">

      <div class="b-1 mt-3 mb-3">
        <img src="{{user.avatar(36)}}"class="mr-3"><a href="/user_info/{{user.user_id}}">{{ user.name }}</a><br>
        
        Pace: {{ user.pace }} <br>
        
        Compatibility Rating: {{user.compatibility_rating}} <br>
        
      </div>

    {% endfor %}


    </form>

  <nav aria-label="Page navigation" id="page-nav">
    <ul class="pagination">
      {% for page_item in range(1,total_pages+1) %}

        <li class="page-item">
          <a class="page-link" href="/show_results?distance={{distance}}&pace={{pace}}&page={{page_item}}&submit=Find+my+buddy%21">{{page_item}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <script type="text/javascript">
    var pageItems = document.getElementById("page-nav");
    var allPages = pageItems.getElementByClassName("page-item");

    for (var i = 0; i < allPages.length; i++) {
      allPages[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active";
        if (current.length>0) {
          current[0].className = current[0].className.replace("active", "");
        }

        this.className += "active";
      });
    }

  </script>

</div>






</div>
</container>



{% endblock %}