{% extends 'base.html' %}
{% block content %}

<h1>
    <link href="product.css" rel="stylesheet">
</h1>

<h2></h2>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Welcome to Runbuddy! 
    </h1>
    <p class="lead font-weight-normal">(Where misery<br> <i>really does</i><br> love company.)
    </p>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="col-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">New Runbuddy Registration
            </h2>

            <a class="lead" href="/register">Join
            </a>Runbuddy today and take the first step in finding your sole-mate
        </div>
    </div>
       
    <div class="col-6 bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">RunBuddies...unite!
            </h2>
            Existing buds can login 
            <a class="lead" href="/user_login">here!
            </a>
        </div>
    </div>

</div>  




<!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div> -->



{% endblock %}

