{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">My Messages with {{specific_user.name}}</h1>

{% for message in message_list %}


    <form class="text-center" action="/messages_with_", >

        <div class="mt-3">
        
            <b>Sent from:</b>
            
            {{message.sender_name}}<br>
            <b>Date Sent:</b> 
            <script>document.write(moment('{{message.time_created}}').format('LLLL'));
        	</script><br>
            <b>Message:</b> {{ message.message }}
      

        </div>
{% endfor %}

    </form>































{% endblock %}