{% extends 'base.html' %}
{% block content %}

<head>
<style>

body{
  background: url(/static/images/scrabble-letters.jpeg) no-repeat center center;
  background-size: cover;

}
div, h1{
    color:black;
    background-color: white
    opacity:.90;
}


</style>
</head>

<form class="text-center" action="/message">

    <h1 class="mt-3 mb-3">My Messages</h1>


{% for message in message_list %}







    <div class="mb-4 mt-4">
        <img src="{{sender_info.avatar(60)}}"><br>
        <b>Sent from:</b> {{sender_name}}<br>
        
        <b>Date Sent:</b>
        
        <script>document.write(moment('{{message.time_created}}').format('LLLL'));
        </script>
        <br>
        <div class="mb-4">
            <b>Message:</b> {{ message.message }} <br>
        </div>

        <input type="hidden" name="sender_id" value="{{sender_id}}">

        <a href="/send_message/{{sender_id}}">Reply</a> to {{sender_name}}<br>
        Show my
        <a href="/messages_with_/{{sender_id}}"> message history</a> with {{sender_name}}<br>

    </div>


{% endfor %}

</form>






{% endblock %}