{% extends 'base.html' %}
{% block content %}



<form class="text-center" action="/message">
<head>
    <h1>My Messages</h1>
  
</head>

{% for message in message_list %}







    <div class="mb-4">
        <img src="{{sender_info.avatar(36)}}"><br>
        <b>Sent from:</b> {{sender_name}}<br>
        
        <b>Date Sent:</b>
        
        <script>document.write(moment('{{message.time_created}}').format('LLLL'));
        </script>
        <br>
        <b>Message:</b> {{ message.message }} <br>

        <input type="hidden" name="sender_id" value="{{sender_id}}">

        <a href="/send_message/{{sender_id}}">Reply</a> to {{sender_name}}<br>
        Show my
        <a href="/messages_with_/{{sender_id}}"> message history</a> with {{sender_name}}<br>

    </div>


{% endfor %}

</form>






{% endblock %}