{% extends 'base.html' %}
{% block content %}



<form action="/message">

<h1>My Messages</h1>

{% for message in message_list %}





    <div>
        <img src="{{message.avatar}}"><br>
        Sent from: {{sender_name}}<br>
        Sent time: {{ message.time_created }}<br>
        Message: {{ message.message }} <br><br>

        <input type="hidden" name="sender_id" value="{{sender_id}}">

        <br/><br/>
        <a href="/send_message/{{sender_id}}">Reply to {{sender_name}}</a><br>
        <br/><br/>
        <a href="/messages_with_/{{sender_id}}">Show my message history with {{sender_name}}</a><br>

    </div>

{% endfor %}

</form>






{% endblock %}