{% extends 'base.html' %}
{% block content %}

<head>
<style>

body{
  background: url(/static/images/back-envelope.jpeg) no-repeat center center;
  background-size: cover;

}
div, h1{
    color:black;
    background-color: white
    opacity:.90;
}


</style>
</head>

<h1 class="text-center">My Messages with {{specific_user.name}}</h1>

{% for message in message_list %}


    <form class="text-center mt-5" action="/messages_with_", >

        <div class="mt-5">
        
            <b>Sent from:</b> {{message.sender_name}}

            <img src="{{message.sender_stuff.avatar(30)}}"><br>
            
            <b>Date Sent:</b> 
            <script>document.write(moment('{{message.time_created}}').format('LLLL'));
        	</script><br>
            <b>Message:</b> {{ message.message }}
      

        </div>
{% endfor %}

    </form>































{% endblock %}