{% extends 'base.html' %}
{% block content %}

<h1>My Messages with {{specific_user.name}}</h1>

{% for message in message_list %}


    <form action="/messages_with_", >

        <div class="mt-3">
        
            Sent from:<br>
            <img src="{{sender_info.avatar(36)}}"><br>
            {{message.sender_name}}<br>
            Sent time: {{ message.time_created }}<br>
            Message: {{ message.message }}
      

        </div>
{% endfor %}

    </form>































{% endblock %}