{% extends 'base.html' %}
{% block content %}


<head>
<style>

</style>
</head>



<body>
	<div class"container"id="bod">
		<h1 class="text-center mb-3 mt-3 mr-3">The RunBuddy Mission and Vision</h1>
    	<h2 class="text-center mr-3">Mission</h2>
    		<p class="text-center mr-3">
        		The mission of Runbuddy is to empower local runners<br> by connecting them through technology to encourage real-life interactions. 
    		</p>
        

    	<h3 class="text-center mr-3">Vision</h3>
        	<p class="text-center mr-3">
        		To create meaningful, one-on-one connections<br> in the running community one Runbuddy at a time.
    		</p>
    </div>

</body>


{% endblock %}