{% extends 'base.html' %}
{% block content %}

 
 <main role="main">
  	<div class="jumbotron">
  		<div class="container">
  			<h2 class="display-3">Welcome to Runbuddy,<br> {{user_name}}!</h2>
  		</div>
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-4">
				Please take a moment to complete our Runner Compatability Intake form <a href="http://127.0.0.1:5000/runner_compatibility">here.</a>  This helps us to determine which of the runners who meet your search criteria would be a good fit! <br><br>
			</div>
			<div class="col-md-4">
				If you would like to go ahead and start your search for a Runbuddy, please click <a href="http://127.0.0.1:5000/search">here.</a>
			</div>
			<div class="col-md-4">
				If you would like to view or change your profile details, please select the appropriate link in the navigation bar at the top of the page.
			</div>
		</div>
	</div>
</main>

</body>


{% endblock %}