{% extends 'base.html' %}
{% block content %}

<head>
<style>
h1{
	color: white;
}

</style>
</head>

 
 <main role="main">
  	<div id="jumbo"class="jumbotron bg-dark">
  		<div class="container bg-dark">
  			<h1 class="display-3 bg-dark">Welcome to Runbuddy, {{first_name}}!</h1>
  		</div>
  	</div>
  	<div class="container">
  		<div class="row">
  			<div id="increase" class="col-md-4">
  				<h2>Increase your odds</h2>
				Please take a moment to complete our Runner Compatability Intake form <a href="/runner_compatibility">here.</a>  This helps us to determine which of the runners who meet your search criteria would be a good fit! <br><br>
			</div>
			<div id="ready" class="col-md-4">
				<h2>Ready...set...search!</h2>
				If you would like to go ahead and start your search for a Runbuddy, please click <a href="/search">here.</a>
			</div>
			<div id="pr"class="col-md-4">
				<h2>Personal Record</h2>
				If you would like to view or change your profile details, please select the appropriate link in the navigation bar at the top of the page.
			</div>
		</div>
	</div>
</main>

</body>


{% endblock %}