{% extends 'base.html' %}
{% block content %}

  <h2>Registration</h2>

  <form action="/register", method = "POST">
    Please enter your full name:
    <input type="text" name="name">
     <br/> <br/>
    Please enter your email address:
    <input type="text" name="email">
     <br/> <br/>
     Please enter a password:
    <input type="text" name="password">
     <br/> <br/>
    Please enter your street address:
    <input type="text" name="street_address">
     <br/> <br/>
    Please enter your city:
    <input type="text" name="city">
     <br/> <br/>
    Please enter your state (full name, not abbreviated):
    <input type="text" name="state">
     <br/> <br/>
    Please enter your zipcode:
    <input type="text" name="zipcode">
     <br/> <br/>
    Please select the pace closest to your average mile pace in minutes below:
    <select>
    <option value="pace">6:00</option>
    <option value="pace">6:15</option>
    <option value="pace">6:30</option>
    <option value="pace">6:45</option>
    <option value="pace">7.00</option>
    <option value="pace">7:15</option>
    <option value="pace">7:30</option>
    <option value="pace">7:45</option>
    <option value="pace">8:00</option>
    <option value="pace">8:15</option>
    <option value="pace">8:30</option>
    <option value="pace">8:45</option>
    <option value="pace">9:00</option>
    <option value="pace">9:15</option>
    <option value="pace">9:30</option>
    <option value="pace">9:45</option>
    <option value="pace">10:00</option>
    <option value="pace">10:15</option>
    <option value="pace">10:30</option>
    <option value="pace">10:45</option>
    <option value="pace">11:00</option>
    <option value="pace">11:15</option>
    <option value="pace">11:30</option>
    <option value="pace">11:45</option>
    <option value="pace">12:00</option>
    </select>
    <br/><br/>
    Please select your running preference:
    <select>
    <option value="run_type">road</option>
    <option value="run_type">trail</option>
    <option value="run_type">both</option>
    </select>
    <br/><br/>
    <input type="submit" value ="Please Submit ">


  </form>

  

{% endblock %}