{% extends 'base.html' %}
{% block content %}

  <h2>Registration</h2>

  <form action="/register", method = "POST">
    Please enter your full name:
    <input type="text" name="name">
     <br/> <br/>
    Please enter your email address:
    <input type="text" name="email">
     <br/> <br/>
     Please enter a password:
    <input type="text" name="password">
     <br/> <br/>
    Please enter your street address:
    <input type="text" name="street_address">
     <br/> <br/>
    Please enter your city:
    <input type="text" name="city">
     <br/> <br/>
    Please enter your state (full name, not abbreviated):
    <input type="text" name="state">
     <br/> <br/>
    Please enter your zipcode:
    <input type="text" name="zipcode">
     <br/> <br/>
    Please select the pace closest to your average mile pace in minutes below:
    <select name = "pace">
    <option value = "6:00">6:00</option>
    <option value = "6:15">6:15</option>
    <option value = "6:30">6:30</option>
    <option value = "6:45">6:45</option>
    <option value = "7:00">7.00</option>
    <option value = "7:15">7:15</option>
    <option value = "7:30">7:30</option>
    <option value = "7:45">7:45</option>
    <option value = "8:00">8:00</option>
    <option value = "8:15">8:15</option>
    <option value = "8:30">8:30</option>
    <option value = "8:45">8:45</option>
    <option value = "9:00">9:00</option>
    <option value = "9:15">9:15</option>
    <option value = "9:30">9:30</option>
    <option value = "9:45">9:45</option>
    <option value = "10:00">10:00</option>
    <option value = "10:15">10:15</option>
    <option value = "10:30">10:30</option>
    <option value = "10:45">10:45</option>
    <option value = "11:00">11:00</option>
    <option value = "11:15">11:15</option>
    <option value = "11:30">11:30</option>
    <option value = "11:45">11:45</option>
    <option value = "12:00">12:00</option>
    </select>
    <br/><br/>
    Please select your running preference:
    <select>
    <option name="run_type" value = "road">road</option>
    <option name="run_type" value = "trail">trail</option>
    <option name="run_type" value = "both">both</option>
    </select>
    <br/><br/>
    <input type="submit" value ="Please Submit ">


  </form>

  

{% endblock %}