{% extends 'base.html' %}
{% block content %}

<head>
<style>

body{
  background: url(/static/images/dots.jpeg) no-repeat center center;
  background-size: cover;

}
h2{
    color:white;
   
}

#search-form {
    color: white;
    
}


</style>
</head>


<h2 class="text-center mb-3 display-4">Search</h2>

<form class="text-center mb-3" action="/show_results" id = "search-form" method = "GET">
    I want to search for runners within 
        <select id="inputDistance" name="distance" >
        <option selected>Choose...</option>
        <option value = "1">1</option>
        <option value = "3">3</option>
        <option value = "5">5</option>
        <option value = "7">7</option>
        <option value = "10">10</option>
        <option value = "15">15</option>
        <option value = "20">20</option>
        <option value = "25">25</option>
        </select>mile(s) of my address.
    
    <br/> <br/>
    I am looking for runners who run, on average, a 
        <select id="inputPace" name="pace">
        <option selected>Choose...</option>
        <option value = "6:00">6:00</option>
        <option value = "6:15">6:15</option>
        <option value = "6:30">6:30</option>
        <option value = "6:45">6:45</option>
        <option value = "7:00">7.00</option>
        <option value = "7:15">7:15</option>
        <option value = "7:30">7:30</option>
        <option value = "7:45">7:45</option>
        <option value = "8:00">8:00</option>
        <option value = "8:15">8:15</option>
        <option value = "8:30">8:30</option>
        <option value = "8:45">8:45</option>
        <option value = "9:00">9:00</option>
        <option value = "9:15">9:15</option>
        <option value = "9:30">9:30</option>
        <option value = "9:45">9:45</option>
        <option value = "10:00">10:00</option>
        <option value = "10:15">10:15</option>
        <option value = "10:30">10:30</option>
        <option value = "10:45">10:45</option>
        <option value = "11:00">11:00</option>
        <option value = "11:15">11:15</option>
        <option value = "11:30">11:30</option>
        <option value = "11:45">11:45</option>
        <option value = "12:00">12:00</option>
    </select>minutes/mile pace.
    <br/><br/>

    <input type="hidden" name="page" value="1">

    <input id="button"type="submit" name = "submit"
     value ="Find my buddy!">


</form>





{% endblock %}