{% extends 'base.html' %}
{% block content %}

  <h2>Send a message to {{name}}!</h2>

  <form id = "message-form" action="/send_message", method = "POST">

    <input type="hidden" name="receiver_id" value="{{user_id}}">
    
    Enter your message below:<br><br>
    <textarea id = "message-area" name="message" rows="10" cols="30">

    </textarea>
    <br><br>
 
    <input type="submit" value ="Send Message! "> 

    </form>

    <br><br><br>
    <div id = "showMessageDiv">
    <span id = "sent-message-span"></span>   


    </div>
    


    <script>

        function showMessage(results) {
        console.log(results);
        const sentMessage = document.querySelector('#sent-message-span');
        sentMessage.innerHTML = results;
        // $("#sent-message-span").innerHTML(results);   
        }

        function sendMessage(evt) {
            evt.preventDefault();
            const messageText = $('#message-area').val();
            ;
            $.ajax({
                type:"POST",
                url:"/send_message",
                data: {message:messageText, receiver_id:{{user_id}}},
                success: console.log(results),
                dataType:"json"
            });
        }


        const messageForm = document.querySelector('#message-form');
        // function showSentMessage(evt) {
        // 
        // }
        messageForm.addEventListener('submit', sendMessage);
        


    </script>






{% endblock %}
    