<html><body>
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>


    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    const lonLat = new OpenLayers.LonLat( -122.343277549317 ,37.5866221038009 )
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
      
    const zoom=16;


    const markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    
    markers.addMarker(new OpenLayers.Marker(lonLat));
    
    map.setCenter (lonLat, zoom);

  //   const overlay = new OpenLayers.Layer.Vector('Overlay', {
  //     styleMap: new OpenLayers.styleMap({
  //       externalGraphic: '/static/images/marker.png',
  //       graphicWidth: 20, graphicHeight: 24, graphicYOffset: -24,
  //       title: '${tooltip}'
  //     })
  //   });

  //   overlay.addFeatures([
  //     new OpenLayers.Feature.Vector(lonLat, {tooltip: 'OpenLayers'})
  //     ]);

  //       // A popup with some information about our location
  //   const popup = new OpenLayers.Popup.FramedCloud("Popup", 
  //       lonLat.getBounds().getCenterLonLat(), null,
  //       '<a target="_blank" href="http://openlayers.org/">We</a> ' +
  //       'could be here.<br>Or elsewhere.', null,
  //       true // <-- true if we want a close (X) button, false otherwise
  //   );

  //   map.addPopup(popup);
  // };
  </script>
</body></html>