{% extends 'base.html' %}
{% block content %}

<head>
<h2 class="text-center">Login</h2>
<head>
<body>
<div class="text-center">
  <center><form  class ="text-center col-4"  action="/user_login", method = "POST">

    
      <label for="email" class="sr-only">Email address</label>
      <input type="text" id='email' name="email" class="form-control" placeholder="Email address" required autofocus>
      <br/> 
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required> <br/>
      <input type="submit" value ="Sign in ">
    

  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
  
  </form></center>
</div>
</body>
{% endblock %}