{% extends 'base.html' %}
{% block content %}

<body>
<h2>Login</h2>

  <form class ="form-signin text-center col-4" action="/user_login", method = "POST">

    
      <label for="email" class="sr-only">Email address</label>
      <input type="text" id='email' name="email" class="form-control" placeholder="Email address" required autofocus>
      <br/> 
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required> <br/>
      <input type="submit" value ="Sign in ">
    

  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}
  </form>
</body>
{% endblock %}