{% extends 'base.html' %}
{% block content %}

<head>
  <style>
    <link href="signin.css" rel="stylesheet">
  </style>
  <h2>Login</h2>
</head>
<body class="text-center">
  <script {box-sizing: border-box;}>
    
  </script>
  <form class ="form-signin" action="/user_login", method = "POST">

    <div class="col-4 container">
      <label for="email" class="sr-only">Email address</label>
      <input type="text" id='email' name="email" class="form-control" placeholder="Email address" required autofocus>
      <br/> 
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required> <br/>
      <input type="submit" value ="Sign in ">
    </div>

  {% for message in get_flashed_messages() %}
    <li>{{ message }}</li>
  {% endfor %}


  </form>
</body>
{% endblock %}